# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# 1. Environment Variables File (Crucial for storing MONGODB_URI locally)
.env
.env.*
!.env.production* # Keep these if you need to commit non-secret production defaults
!.env.staging*

# 2. Vercel Deployment Output Files (often includes build cache)
.vercel/